<div class="container text-center">

    <nav aria-label="Page navigation">
        <ul class="pagination pagination-lg">

            <li><a href="/page1">E</a></li>
            <li><a href="/page1">N</a></li>
            <li><a href="/page1">T</a></li>
            <li><a href="/page1">E</a></li>
            <li><a href="/page1">R</a></li>
            <li><a href="/page1"><span class="glyphicon glyphicon-eye-open"></span> </a></li>
            <li><a href="/page1">H</a></li>
            <li><a href="/page1">E</a></li>
            <li><a href="/page1">R</a></li>
            <li><a href="/page1">E</a></li>
        </ul>
    </nav>
</div>

<img alt="timeline" src="http://www.onlineeducation.net/videogame_timeline/video-game-timeline.jpg" height="750px">